  <h1>{{ page.course | capitalize }}</h1>
      {% for course in site.data.courses %}
        {% if page.course == course.name %}

          {% for subject in course.subjects %}
          
          <div class="subjectNav">
            <h2><a href="{{site.baseurl}}{{ subject.link }}">{{ subject.name | capitalize }}</a></h2>
            {% for chapter in subject.chapters %}
              <a href="{{site.baseurl}}{{ chapter.link }}">{{ chapter.name | capitalize }}</a>
            {% endfor %}
          </div>
          {% endfor %}
        {% endif %}

    {% endfor %}