* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: "Open Sans", "Segoe UI", Roboto, Arial, sans-serif;
}

body {
  min-height: 100%;
}

footer {
  background-color: #403f4c;
  z-index: 999;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}